body {
    background-color: white;
    margin: 0;              /* не 0 auto, просто 0 */
    font-family: Arial, sans-serif;
    align-content: center;
}

/* Шапка */

header .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;  /* слева нав, по центру заголовок, справа картинка */
    align-items: center;
    background: red;
    height: 9vh;
    padding: 0 20px;
    box-shadow: 0 0 5px black;
}

header .navbar img {
    width: 4vh;   /* нужен ; */
}

header .navbar nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header .navbar a {
    color: white;
    text-decoration: none;
}

header .navbar a.active {
    color: rebeccapurple;
}

header .navbar .title {
    text-align: center;
    font-size: 34px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 100px;
    margin-top: 50px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-shadow: 0 1px 0 darkred;
}

.main-content a {
    background-color: black;
    padding: 5px;
    color: red;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: 0.3s ease-in-out;

}

.main-content a:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 10px whitesmoke;
    color: black;
}

.reviews {
    display: flex;
    justify-content: center;

    width: 90%;                 /* нормальная ширина */
    margin: 20px auto;            /* центрирование */
    background: white;            /* фон карты */
    border-radius: 10px;          /* скругление */
    overflow: hidden;             /* чтобы картинка тоже скруглилась */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.reviews:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.review img {
    width: 100%;
    display: block;               /* убирает белую линию снизу */
}

.review .container {
    padding: 10px 16px;
}

.page-content h1 {
    display: flex;
    justify-content: center;
    text-shadow: 0 1px 0 black;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item {
    background: #fff;
    border: 2px solid red;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}



